// Define variables for your color scheme

// For example:
$red: #fb4b54;
$blue: #1d7caf;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #114b6a;
$light-gray: #fcfaf9;
$black: #0b3247;
$max-blue: #31afd4;
$text-gray: #d0d0d0;
$separation-gray: #114b6a;
$background-release: #2c9fdd;
$btn-color: #3babe3;
