.artist-container {
  display: grid;
  place-content: center;
  text-align: center;
  position: relative;
  padding: 1rem;
  background: white;
  color: $blue;
}
.artist-picture {
  display: grid;
  place-content: center;

  img {
    border-radius: 50%;
    height: 6rem;
  }
}
.artist-description {
  margin-top: 1rem;

  h1 {
    color: $black;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .artist-name p {
    font-size: 1rem;
  }

  .birthdate {
    font-size: 0.9rem;
  }
  .genre-desc {
    margin: 0 5rem;

    .genre {
      font-size: 0.7rem;
      margin-top: 0.5rem;
    }
  }
}
.add-remove {
  position: absolute;
  right: 1rem;
  top: 1rem;

  .not-followed {
    font-size: 2rem;
    color: $black;
  }

  .followed {
    font-size: 2rem;
    color: $red;
  }
}

.artist-next-event {
  padding-top: 1rem;
}

.concert {
  padding-top: 1rem;

  h1 {
    padding-bottom: 1rem;
    padding-left: 1rem;
  }
}

.release {
  padding: 1rem 0.5rem 0 0.5rem;

  h1 {
    margin-bottom: 1rem;
    padding-left: 1rem;
  }
}

.artist-page-container {
  height: 100vh;
}
