.landing-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 1.4rem;
    text-align: center;
  }
  .validation {
    

  }
  .playlist-btn {
    font-size: 1rem;
    color: white;
    background-color: #1ED760;
    margin-top: 2rem;
    padding: .7rem;
    border: 1px $black solid;
    border-radius: 1rem;

    .playlist-btn:hover {
      background-color: $separation-gray;
      color: white;
    }
  }

}