.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  height:80vh;
}

.next {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 97% !important;
  right: 0;
  padding: 5px;
}

.step {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 5% !important;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
    width: 2rem !important;
    height: 2rem !important;
    font-weight: bolder !important;
    color: #051923 !important;
    background-color: white !important;
    display: grid !important;
    place-content: center;
    padding: .5rem .4rem .4rem .4rem;
    margin: 0 26px 0 26px !important;
}

#message {
  color: white;
  display: flex;
  text-align: center;
  margin: 0;
}

.validation {
  height: 220px;
  width: 220px;
  margin-top: 15px;
}

.step {
 width: 180px;
}


