.display-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:90vh;
}

.next {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 97% !important;
  right: 0;
  padding: 5px;
}

.step {
  top: 10% !important;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 2rem !important;
  height: 2rem !important;
  font-weight: bolder !important;
  color: #051923 !important;
  background-color: white !important;
  display: grid !important;
  place-content: center;
  padding: .5rem .4rem .4rem .4rem;
  margin: 0 26px 0 26px !important;
}

.validation {
  height: 220px;
  width: 220px;
  margin-top: 15px;
}

#message {
  color: white;
  display: flex;
  text-align: center;
  margin: 0;
}

#myartists {
  color: white;
  display: flex;
  text-align: center;
  margin-top: 5rem !important;
  margin-bottom: 1rem !important;
  font-style: 1.5rem;
}

#artistselection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5rem;
}

.cards-artist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
