<h1>Newsfeeds#index</h1>
<%@releases.order(release_date: :desc).each do |r| %>
<p>-----------------------------</p>
<h4><%= r.name %></h4> 
<p><%= r.album_type %></p>
- <em><%= r.release_date %></em>
<% artist = Artist.find(r.artist_id) %>
<p><strong><%= artist.name %></strong></p>

<% end %>
