<div class="filters">
  <strong>
    <p><i class="fas fa-headphones-alt"></i> Latest releases</p>
  </strong>
</div>
<div class="cards-releases">
  <% @news.each do |new| %>
    <% if new.kind_of?(Release) %>
      <%= render "shared/release_card", release: new %>
    <% else %>
      <%= render "shared/concert_card", concert: new %>
    <% end %>
  <% end %>
</div>
