<div class="album-card">
  <%= image_tag("pulse.jpg", :alt => "pulse", class: "album-cover" ) %>
  <div class="album-info">
    <div class="album-text">
      <div class="album-name">
        <h2>PULSE</h2>
        <p>Pink Floyd</p>
      </div>
      <div class="tracklist-info">
        <p>14 tracks - 72 minuts</p>
      </div>
    </div>
    <div class="release-date">
      <p>10/09/94</p>
    </div>
  </div>
</div>
