<%= link_to artist_path(artist) do %>
  <div class="artist-card" data-controller="all-checkboxes">
    <%= image_tag(artist.image_url, :alt => artist.name, class: "artist-avatar" ) %>
    <div class="artist-description">
      <p style="font-size: 22px; font-weight: bold;"><%= artist.name  %></p>
      <p style="font-size: 14px;"><%= rand(1000..1000000)  %> followers</p>
    </div>
  </div>
<% end %>
