<div class="concert-card">
  <div class="concert-info">
    <div class="concert-text">
      <div class="concert-name">
        <h2>SERGE LAMA</h2>
      </div>
      <div class="concert-city">
        <p><i class="fas fa-map-marker-alt"></i> Nantes</p>
      </div>
    </div>
    <div class="concert-date">
      <p>4 Sept. 21</p>
      <p><i class="fas fa-users"></i> 2342 attendes</p>
    </div>
  </div>
</div>
