<div id="footer">
  <%= link_to image_tag("home.svg", :alt => "logo"), newsfeed_path   %>
  <%# <%= link_to  image_tag("calendar.svg", :alt => "calendar"), calendar_path  %>
  <%# <%= image_tag("user-circle.svg", :alt => "user") %>
</div>
