<div id="footer">
  <%= link_to image_tag("disc.svg", :alt => "logo"), newsfeed_path   %>
  <%= link_to image_tag("calendar.svg", :alt => "calendar"), concerts_path %>
  <%= link_to image_tag("plus.svg", :alt => "user"), new_playlist_path %>
</div>
