<div class="artist-card">
  <%= image_tag("dave", :alt => "dave", class: "artist-avatar" ) %>
  <div class="artist-info">
    <div class="artist-description">
      <p>DAVE</p>
      <p>1800 followers</p>
    </div>
    <% if true #should be is_artist_followed %>
      <%= image_tag("plus.svg", :alt => "plus", class: "add-icon") %>
    <% else %>
      <%= image_tag("minus-circle.svg", :alt => "minus", class: "remove-icon") %>
    <% end %>
  </div>
</div>
<div class="album-card">
  <%= image_tag("pulse.jpg", :alt => "pulse", class: "album-cover" ) %>
  <div class="album-info">
    <div class="album-text">
      <div class="album-name">
        <h2>PULSE</h2>
        <p>Pink Floyd</p>
      </div>
      <div class="tracklist-info">
        <p>14 tracks - 72 minuts</p>
      </div>
    </div>
    <div class="release-date">
      <p>10/09/94</p>
    </div>
  </div>
</div>
<div class="concert-card">
  <div class="concert-info">
    <div class="concert-text">
      <div class="concert-name">
        <h2>SERGE LAMA</h2>
      </div>
      <div class="concert-city">
        <p><i class="fas fa-map-marker-alt"></i> Nantes</p>
      </div>
    </div>
    <div class="concert-date">
      <p>4 Sept. 21</p>
      <p><i class="fas fa-users"></i> 2342 attendes</p>
    </div>
  </div>
</div>
