<div class="artist-card">
  <%= image_tag("dave", :alt => "dave", class: "artist-avatar" ) %>
  <div class="artist-info">
    <div class="artist-description">
      <p>DAVE</p>
      <p>1800 followers</p>
    </div>
    <% if true #should be is_artist_followed %>
      <%= image_tag("plus.svg", :alt => "plus", class: "add-icon") %>
    <% else %>
      <%= image_tag("minus-circle.svg", :alt => "minus", class: "remove-icon") %>
    <% end %>
  </div>
</div>
