<div id="home">
  <div class="title">
    <%= image_tag("logo.svg", :alt => "logo", id: "logoHome")%>
    <h1>DO NOT MISS ANY MUSIC RELEASES ANYMORE</h1>
  </div>
  <div class="login"><%= link_to "Connect with Spotify", new_user_session_path %></div>
</div>
