<div class="container">
  <% if @results.blank? %>
    <p>No artist found</p>
  <% else %>
    <div class="">
      <p><%= @results_number%> artists found</p>
      <% @results.each do |artist| %>
        <%= render "shared/artist_card", artist: artist %>
      <% end %>
    </div>
  <% end %>
</div>
<%# <%= render partial: "artist/card", locals: {artist: artist} %>
