<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="container">
        <h1 id="message"> X </h1>
        <h1 id="message"> Favorites </h1>
        <h1 id="message"> artists added </h1>
        <%= image_tag('check-circle.svg', class: "validation")%>
        <%= image_tag('arrow-right.svg', class: "next swiper-button-next")%>

      </div>
    </div>
    <div class="swiper-slide">
        <div class="container">
        <h1 id="message"> erfjn </h1>
        <h1 id="message"> nonon </h1>
        <h1 id="message"> woenfkwnfe added </h1>
        <%= image_tag('check-circle.svg', class: "validation")%>
      </div>
    </div>
    <div class="swiper-slide">
      Slide 3
    </div>
  </div>
</div>
 <%= image_tag('arrow-right.svg', class: "next swiper-button-next")%>
