<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="welcome-container">
        <h1 id="message"> X </h1>
        <h1 id="message"> Favorites </h1>
        <h1 id="message"> artists added </h1>
        <%= image_tag('check-circle.svg', class: "validation")%>
      </div>
    </div>
    <div class="swiper-slide">
      <h1 id="message"> My artits </h1>
        <% @artists.first(4).each do |artist| %>
          <%= render "shared/artist_card", artist: artist %>
        <% end %>
    </div>
    <div class="swiper-slide">
    </div>
  </div>
  <div class="step swiper-pagination"></div>
</div>
<%= image_tag('arrow-right.svg', class: "next swiper-button-next")%>
