<div class="filters">
  <strong>
    <p><i class="fas fa-ticket-alt"></i> Latest Concerts</p>
  </strong>
</div>
<div class="cards-releases">
  <% @concerts.each do |concert| %>
      <%= render "shared/concert_card", concert: concert %>
  <% end %>
</div>
