.small-artist-card {
  width: 9.6rem;

  .artist-avatar {
    background-size: cover;
    position: relative;
    height: 9.6rem;
    width: 100%;
  }

  .artist-name {
    padding: 0.5rem;
    background-color: #114B6A;
    font-size: 14px;
  }
}
