.small-artist-card {
  width: 9rem;

  .artist-avatar {
    background-size: cover;
    position: relative;
    width: 100%;
  }

  .artist-name {
    padding: 0.5rem;
    background-color: #0b3247;
    font-size: 14px;
  }
}
