.album-card {
  height: 6rem;
  display: flex;
  width: 100%;
  align-items: flex-start;
  // justify-content: space-between;
  flex-direction: row;
  color: $light-gray;
  background-color: $gray;
  margin-bottom: 0.5rem;
  border-right: 0.5rem solid $blue;
  border-radius: 0.5rem;

  .album-cover {
    height: 100%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  .album-info {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0.2rem 0.5rem;
  }

  .album-text {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
    flex-direction: column;
    font-size: 1rem;
  }

  .album-name h2 {
    font-weight: bold;
    font-size: 1rem;
  }

  .album-name p {
    color: $light-gray;
    font-size: 0.8rem;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .tracklist-info {
    font-size: 0.8rem;
    color: $text-gray;
  }

  .release-date {
    align-items: end;
    display: flex;
    height: 100%;
    font-size: 0.8rem;
    color: $text-gray;
  }
}
