.checkbox {
  display: inline-block;
}

.checkbox {
  position: absolute;
  transform: scale(0);
}

.add-btn {
  background: $black;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: grid;
  place-content: center;
  color: white;
}

.add-btn:before {
  content: "\f067";
}

.checkbox+i {
  cursor: pointer;
}

.checkbox:checked+.add-btn{
  background: white;
}
.checkbox:checked+.add-btn:before{
  content: "\f00c";
  color: $black;
}

.btn-div {
  display: flex;
  justify-content: space-evenly;

  position: sticky;
  bottom: 4rem;
  z-index: 10;
}

.btn-gradient {
  color: $blue;
  padding: 8px 24px;
  border-radius: 12px;
  font-weight: bold;
  background: $btn-color;
  transition: 0.2s ease;
  border: 1px solid #0F60C4;
  text-align: center;
  background-color: white;
}

.btn-gradient:hover {
  background: $blue;
  color: white;
  cursor: pointer;
  }
