.concert-card {
  height: 6rem;
  margin-bottom: 0.5rem;
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-direction: row;
  color: $light-gray;
  background-color: $gray;
  border-right: 0.5rem solid $red;
  border-radius: 0.5rem;
  .album-cover {
    height: 100%;
  }

  .picto {
    height: 100%;
    background-color: white;
    min-width: 6rem;
    display: grid;
    place-content: center;
    font-size: 3rem;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
  }

  .concert-info {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    height: inherit;
    flex-direction:column;
  }

  .concert-text {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: max-content;
    min-width: 15rem;
    max-width: 15rem;
  }

  .concert-name h2 {
    text-transform: uppercase;
    color: $red;
    font-weight: bold;
    font-size: 1rem;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .concert-name p {
    color: $light-gray;
    font-size: 0.8rem;
  }

  .concert-city {
    font-size: 0.8rem;
    color: $text-gray;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .concert-date {
    align-items: end;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    height: 100%;
    font-size: 0.8rem;
    color: $text-gray;

    p {
      width: max-content;
    }
  }

  i {
    color: $red;
  }
}
