.container {
  background-color: $gray;
  // color: $light-gray;
  border-bottom: 0.2rem solid $blue;
  border-right: 1rem solid $blue;
  margin-bottom: 3rem;
  padding-left: 0.2rem;

  .album-tracks {
    border-top: 1px solid $light-gray;
    font-size: 0.8rem;
    width: 100%;
    padding-left: 1rem;
    color: $text-gray;
    padding-bottom: 0.2rem;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
    padding-top: 0.5rem;
  }


.expanded-album-card {
  // height: 6rem;
  display: flex;
  width: 100%;
  align-items: flex-start;
  // justify-content: space-between;
  flex-direction: row;
  // color: $light-gray;
  background-color: $gray;
  // border-bottom: 0.2rem solid $blue;
  // border-right: 1rem solid $blue;
  // margin-bottom: 1rem;
  .album-cover {
    height: 100%;
    width: 35%;
  }
}


  .album-info {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
  }

  .album-text {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
    flex-direction: column;
    font-size: 1rem;
  }

  .album-name h2 {
    color: $blue;
    font-weight: bold;
    font-size: 1rem;
  }


  .album-name p {
    color: $light-gray;
    font-size: 0.9rem;
  }

  .tracklist-info {
    font-size: 0.6rem;
    color: $text-gray;
  }

  .release-date {
    align-items: end;
    display: flex;
    height: 100%;
    font-size: 0.6rem;
    color: $text-gray;
  }

  
  .separation-line {
    border-top: 5rem solid red;
  }
  


.track {
  display: flex;
  justify-content: space-between;
}

span {
  margin-right: 1rem;
}
}
