.container {
  min-height: 100vh;

  .artist {
    display: flex;
    align-items:center;
    // justify-content: space-between;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background: $separation-gray;
    h2 {
      color: white;
      font-weight: bold;
      font-size: 0.8rem;
      text-align: center;
      margin-top: 1rem;
    }
  }

  .artist-cover {
    border-radius: 50%;
    height: 3rem;
  }

  .album-tracks {
    border-top: 1px solid $light-gray;
    font-size: 0.8rem;
    width: 100%;
    color: $text-gray;
    margin-bottom: 0.4rem;
    padding: 0.5rem 1rem 0.4rem 1rem;
    li {
      border-bottom: 0.5px solid $separation-gray;
      padding: 0.5rem 0;
    }
  }

  .expanded-album-card {
    // height: 6rem;
    display: flex;
    width: 100%;
    align-items: flex-start;
    // justify-content: space-between;
    flex-direction: row;
    // color: $light-gray;
    background-color: $gray;
    // border-bottom: 0.2rem solid $blue;
    // border-right: 1rem solid $blue;
    // margin-bottom: 1rem;
    padding: 1rem;
    height: 8rem;
    .album-cover {
      height: 100%;
      width: 35%;
    }
  }

  .album-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
    padding-left: 1rem;
  }

  .album-text {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-grow: 1;
    font-size: 1rem;
    width: -moz-available;
  }
  .album-name {
    display: flex;
    flex-direction: column;
    justify-content: start;
    // font-weight: bolder;
  }

  .album-name p {
    color: white;
    font-size: 1rem;
  }

  .tracklist-info {
    font-size: 0.8rem;
    color: $text-gray;
  }

  .release-date {
    font-size: 0.8rem;
    color: $text-gray;
    p {
      text-align: end;
    }
  }

  .separation-line {
    border-top: 5rem solid red;
  }

  .track {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
}
