.filters {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-start;
  background-color: $gray;
  color: $blue;
  margin-bottom: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 1.1rem;
  font-weight: bold;
}
