.filters {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-start;
  background-color: white;
  color: $black;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  height: 5rem;
  align-items: center;
}
