.add-icon {
  height: 2.8rem;
  margin-right: 1rem;
}
.remove-icon {
  height: 2.5rem;
  margin-right: 1rem;
}

.small-artist-card {
  position: relative;

  .add-icon,
  .remove-icon {
   position: absolute;
   top: .4rem;
   right: .4rem;
   margin: 0;
  }
}

.display-container {
  .follow-btn {
    background-color: white;
    border-radius: 50%;
    padding: .75rem;
    width: 2.6rem !important;
    height: 2.6rem !important;
    display: grid;
    place-content: center;
  }

  .add-icon {
    color: #31AFD4;
  }
  .remove-icon{
    color: #FB4B54;
  }
}
