#footer {
  justify-content: space-between;
  background-color: $black;
  height: 3rem;
  display: flex;
  position: absolute;
  // bottom: 0;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  margin-top: auto;
  clear: both;


  img {
    height: 3rem;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
