#navbar {
  justify-content: space-between;
  background-color: $black;
  height: 4rem;
  display: flex;
  border-bottom: 1px solid $light-gray;
  position: sticky;
  top: 0;
  z-index: 100;
  align-items: center;

  input {
    font-size: 16px;
  }
  // #logo {
  //   height: 35px;
  //   width: 35px;
  // }

  #logo {
    height: 2rem;
    padding-left: 1rem;
  }

  @import url(https://fonts.googleapis.com/css?family=Open+Sans);

  .search {
    width: 100%;
    position: relative;
    display: flex;
  }

  .searchTerm {
    width: 80%;
    border: 0.5rem solid $blue;
    border-right: none;
    border-radius: none;
    height: 2rem;
    outline: none;
    color: $blue;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  .input-text {
    color: $blue;
    padding-left: .5rem;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  .searchTerm:focus {
    color: $blue;
  }

  .searchButton {
    width: 20px;
    height: 1.5rem;
    border: 1px solid $blue;
    background: $blue;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 0.8rem;
    position: absolute;
    right: -5px;
  }
  /*Resize the wrap to see the search bar change!*/
  .wrap {
    padding-top: 0.7rem;
    margin-right: 1rem;
    height: 2.5rem;
  }
}
