
.animation-container {
  padding: 0 .5rem;
}

.playlist-page-container {
  padding-top: 1rem;
  position: relative;

  .playlist-container {
    background-color: $black;
    margin: 0;
    border-radius: 0.5rem;
    
    .artist {
      display: grid;
      place-content: center;
      padding: 1rem;
      padding-top: 1.5rem;
      background: $separation-gray;

      h2 {
        color: white;
        font-weight: bold;
        font-size: 1.4rem;
        text-align: center;
      margin-top: 1rem;
    }
  }

  .artist-cover {
    height: 15%;
    align-self: center;
    border-radius: 50%;
  }
  
  .add-release-to-playlist {
    display: flex;
    justify-content: end;
  }
  
  .album-tracks {
    font-size: 0.8rem;
    width: 100%;
    color: white;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding: 1rem;

    li {
      border-bottom: .5px solid $separation-gray;
      padding: .5rem 0;
    }
  }

  .panel {
    display: none;
    overflow: hidden;
  }

  .chev {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    cursor: pointer;
    background: $blue;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

  }
  
  .expanded-album-card {
    // height: 6rem;
    display: flex;
    width: 100%;
    align-items: flex-start;
    // justify-content: space-between;
    flex-direction: row;
    // color: $light-gray;
    background-color: $gray;
    padding: 1rem;
    height: 8rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;

    .album-cover {
      object-fit: cover;
      height: 6rem;
      width: 6rem;
    }
  }
  
  .album-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
    padding-left: 1rem;
  }
  
  .album-text {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-grow: 1;
    font-size: 1rem;
    width: -moz-available;
    width: -webkit-fill-available;
    
  }
  .album-name{
    display: flex;
    justify-content: start;
    flex-direction: row;
    justify-content: space-between;
    width: -moz-available;
    width: -webkit-fill-available;

    .name-info {
      margin-right: .5rem;
      display: -webkit-box;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  
  .album-name p {
    color:white;
    font-size: 1rem;
  }
  
  .tracklist-info {
    font-size: 0.8rem;
    color: $text-gray;
  }
  
  .release-date {
    font-size: 0.8rem;
    color: $text-gray;
    p {
      text-align: end;
    }
  }
  
  
  .separation-line {
    // border-top: 5rem solid white;
  }

  .track-separator {
    border-top: 1px solid $separation-gray;
  }
  
  
  .track {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}

}
#release-name {
  font-size: 1rem;
  font-weight: bolder;
}
#release-artist {
  color: $blue;
  font-weight: bold;
}
