<%= render "shared/expanded_release_card", release: @release %>
<%# <div class="previous-releases">
  <h1>Previous releases</h1>
  <% if @releases > 1 %>
    <%# <% @releases.order(release_date: :desc).each do |release| %>
      <%# <%= render "shared/release_card", release: release %> %>
    <%# <% end %> %>
  <%# <% else %> %>
    <%# <%= render "shared/release_card", release: @releases %> %>
  <%# <% end %> %>
<%# </div> %> %> %>
