<div class="landing-container">
  <h1>Playlist</h1>
  <h1>generated</h1>
  <h1>successfully.</h1>
  <%= image_tag('check-circle.svg', class: "validation")%>
  <% if params[:playlist_url] %>
    <div class="playlist-btn"><%= link_to "Show me on Spotify", params[:playlist_url]  %></div>
  <% else %>
    <h2><%= "Mistakes were made." %></h2>
  <% end %>
</div>