<div class="landing-container">
  <h1>Playlist generated successfully</h1>
  <%= image_tag('check-circle.svg', class: "validation")%>
  <% if params[:playlist_url] %>
    <%= link_to "Show me on Spotify", params[:playlist_url], class: "playlist-btn "  %>
  <% else %>
    <h2><%= "Mistakes were made." %></h2>
  <% end %>
</div>