<div class="landing-container">
  <h1>Playlist generated successfully</h1>
  <%= image_tag('check-circle.svg', class: "validation")%>
  <% if @playlist %>
    <%= link_to "Show me on Spotify", @playlist.external_urls["spotify"]  %>
  <% else %>
    <h2><%= "Mistakes were made." %></h2>
  <% end %>
</div>