<div class="animation-container">
  <%= form_tag playlists_path, method: :post do %>
    <% @releases.each do |release| %>
      <%= render "shared/playlist_expanded_album_card", release: release %>
    <% end %>
</div>
<div class='btn-div'>
  <%= submit_tag "Generate playlist", class:"btn-gradient", name: :generate, disable_with: "Loading..." %>
  <%= submit_tag "Generate & Open", class:"btn-gradient", name: :generate_and_open, disable_with: "Loading..." %>
  <% end %>
  </div>
</div>
