<%# <div data-controller="all-checkboxes"> %>
  <%= form_tag playlists_path, method: :post do %>
    <% @releases.each do |release| %>
      <%= render "shared/playlist_expanded_album_card.html", release: release %>
    <% end %>
    <div class='btn-div'>
      <%= submit_tag "Generate playlist", class:"btn-gradient" %>
    </div>
  <% end %>
<%# </div> %>
