<div class="filters">
  <strong>
    <p><i class="far fa-play-circle"></i> Playlist generator</p>
  </strong>
</div>
<div class="animation-container">
  <%= form_tag playlists_path, method: :post do %>
    <% @releases.each do |release| %>
    <% cache release do %>
      <%= render "shared/playlist_expanded_album_card", release: release, collection: @releases, cached: true %>
      <% end %>
    <% end %>
  <div class='btn-div'>
    <%= submit_tag "Generate playlist", class:"btn-gradient", name: :generate, disable_with: "Loading..." %>
  </div>
  <% end %>
</div>
