<div class="animation-container">
  <%= form_tag playlists_path, method: :post do %>
    <% @releases.each do |release| %>
      <%= render "shared/playlist_expanded_album_card", release: release %>
    <% end %>
</div>
  <div class='btn-div'>
    <%= submit_tag "Generate playlist", class:"btn-gradient", commit: :generate %>
    <%= submit_tag "Generate & Open", class:"btn-gradient", name: :generate_and_open %>
    </div>
  </div>
  <% end %>
<script src="app/javascript/stylesheets/playlistCard.js"></script> 
